:root {
  --color-blue: #233d4a;
  --color-light-blue: #a8bec9;
  --color-dark-blue: #192a32;
  --color-darker-blue: #112129;
  --color-orange: #f2b237;
  --color-aqua: #31c4be;
  --border-radius: 1rem;
  --grid-rows: 3;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*background-color: var(--color-dark-blue);*/
  background-size: cover;
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  opacity: 0.8;
  background: url(./pattern.jpg);
  background-size: cover;
  filter: blur(35px);
  z-index: -1;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--grid-rows), 100px);
  grid-template-rows: repeat(var(--grid-rows), 100px);
  margin: 0 auto;
  gap: 1.5rem;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3em;
  color: var(--color-aqua);
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  isolation: isolate;
  font-family: "Rubik Mono One", sans-serif;
}

.cell--X {
  color: var(--color-aqua);
}

.cell--O {
  color: var(--color-orange);
}

.value {
  z-index: 1;
  user-select: none;
}

.cell:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -0.4rem;
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--color-darker-blue);
}

.cell:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--color-blue);
  transition: all 0.3s;
}

#reset {
  margin-top: 20px;
}

/* From Uiverse.io by cssbuttons-io */
button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

/* responsive */
@media (max-width: 576px) {
  .board {
grid-template-columns: repeat(var(--grid-rows), 150px);
  grid-template-rows: repeat(var(--grid-rows), 150px);
}
}